.singular
  font-size: 15px
  span.mark
    color: rgb(247,123,111)
    background-color: inherit
    font-size: 16px
    font-weight: 200
    font-style: oblique

.business
  background: url("/assets/flat_parallax.jpg") no-repeat fixed 0 0 #f1f1f1
  background-size: cover
  padding-bottom: 50px
  margin-top: -60px
  min-height: 600px
  h1
    font-family: "Fjalla One",sans-serif
    font-size: 24px
    font-weight: bolder
    color: #FFFFFF
    text-align: center
    text-transform: uppercase
    border-top: 10px solid rgb(247,123,111)
    padding-top: 80px

.col-centered
  float: none
  margin: 0 auto

.overlay
  min-height: 300px
  border-radius: 4px
  padding: 30px
  margin-top: 80px

.businessp
  font-family: "Open Sans",sans-serif
  font-size: 15px
  font-weight: 300
  text-align: justify
  color: #797979
  margin-left: auto
  margin-right: auto
  padding-top: 50px
  line-height: 170%
  span
    color: rgb(247,123,111)

.expertise
  margin-top: 50px

.expertlist
  li
    padding: 20px 25px
    &:hover
      color: white
      background-color: rgb(247,123,111)
    &:first-child
      border-top-right-radius: 10px
      border-top-left-radius: 10px
    &:last-child
      border-bottom-right-radius: 10px
      border-bottom-left-radius: 10px

.top
  margin-top: 60px

.bottom
  margin-bottom: 60px
