#product-gallery
	#product-head
		margin-top: 40px
		margin-bottom: 30px
	.row
		margin-top: 30px

.images
	height:  40vh
	width: 30vw

#left
	left: 0px

#right
	right: 0px

.pic-head
	font-weight: bold
	margin-top: 70px
	margin-bottom: 30px

.pic-desc
	font-size: 14px