.why-top
    font-size: 24px
    font-weight: 300
    margin-top: 80px
    font-style: italic

.qt-icon
    color: rgb(247,123,111)
    margin-top: 60px

.quote-sub
    font-size: 18px
    font-weight: 300
    text-align: justify

#desc-p 
    line-height: 180%
    text-align: justify